black==25.1.0
    # via brdr (pyproject.toml)
build==1.2.1
    # via pip-tools
certifi==2024.2.2
    # via
    #   pyogrio
    #   pyproj
    #   requests
charset-normalizer==3.3.2
    # via requests
click==8.1.7
    # via
    #   black
    #   pip-tools
colorama==0.4.6
    # via
    #   build
    #   click
    #   pytest
contourpy==1.2.1
    # via matplotlib
coverage[toml]==7.6.4
    # via pytest-cov
cycler==0.12.1
    # via matplotlib
flake8==7.1.1
    # via brdr (pyproject.toml)
fonttools==4.51.0
    # via matplotlib
geojson==3.1.0
    # via brdr (pyproject.toml)
geopandas==1.1.0
    # via brdr (pyproject.toml)
hatchling==1.26.1
    # via brdr (pyproject.toml)
idna==3.7
    # via requests
iniconfig==2.0.0
    # via pytest
kiwisolver==1.4.5
    # via matplotlib
matplotlib==3.8.4
    # via brdr (pyproject.toml)
mccabe==0.7.0
    # via flake8
mypy==1.13.0
    # via brdr (pyproject.toml)
mypy-extensions==1.0.0
    # via
    #   black
    #   mypy
networkx>=3.3
    # via brdr (pyproject.toml)
numpy==1.26.4
    # via
    #   contourpy
    #   geopandas
    #   matplotlib
    #   pandas
    #   pyogrio
    #   shapely
osmnx>=2.0.3
    # via brdr (pyproject.toml)
packaging==24.2
    # via
    #   black
    #   build
    #   geopandas
    #   hatchling
    #   matplotlib
    #   pyogrio
    #   pytest
pandas==2.2.3
    # via geopandas
pathspec==0.12.1
    # via
    #   black
    #   hatchling
pillow==10.3.0
    # via matplotlib
pip-tools==7.4.1
    # via brdr (pyproject.toml)
platformdirs==4.2.0
    # via black
pluggy==1.5.0
    # via
    #   hatchling
    #   pytest
pycodestyle==2.12.1
    # via flake8
pyflakes==3.2.0
    # via flake8
pyogrio==0.10.0
    # via geopandas
pyparsing==3.1.2
    # via matplotlib
pyproj==3.6.1
    # via geopandas
pyproject-hooks==1.0.0
    # via
    #   build
    #   pip-tools
pytest==8.3.3
    # via
    #   brdr (pyproject.toml)
    #   pytest-cov
pytest-cov==6.0.0
    # via brdr (pyproject.toml)
python-dateutil==2.9.0.post0
    # via
    #   matplotlib
    #   pandas
pytz==2024.1
    # via pandas
pyyaml==6.0.1
    # via responses
requests==2.32.4
    # via
    #   brdr (pyproject.toml)
    #   responses
responses==0.25.3
    # via brdr (pyproject.toml)
shapely==2.0.4
    # via
    #   brdr (pyproject.toml)
    #   geopandas
six==1.16.0
    # via python-dateutil
toml==0.10.2
    # via brdr (pyproject.toml)
topojson>=1.10
    # via brdr (pyproject.toml)
trove-classifiers==2024.5.22
    # via hatchling
types-requests==2.31.0.20240406
    # via brdr (pyproject.toml)
typing-extensions==4.11.0
    # via mypy
tzdata==2024.1
    # via pandas
urllib3==2.2.1
    # via
    #   requests
    #   responses
    #   types-requests
wheel==0.43.0
    # via pip-tools

# The following packages are considered to be unsafe in a requirements file:
# pip
# setuptools
