certifi==2024.2.2
    # via
    #   pyogrio
    #   pyproj
    #   requests
charset-normalizer==3.3.2
    # via requests
geojson==3.2.0
    # via brdr (pyproject.toml)
geopandas==1.1.1
    # via
    #   brdr (pyproject.toml)
    #   osmnx
idna==3.7
    # via requests
networkx==3.6.1
    # via
    #   brdr (pyproject.toml)
    #   osmnx
numpy==1.26.4
    # via
    #   geopandas
    #   osmnx
    #   pandas
    #   pyogrio
    #   shapely
    #   topojson
osmnx==2.0.7
    # via brdr (pyproject.toml)
packaging==25.0
    # via
    #   geopandas
    #   pyogrio
    #   topojson
pandas==2.3.3
    # via
    #   geopandas
    #   osmnx
pyogrio==0.12.1
    # via geopandas
pyproj==3.7.2
    # via
    #   brdr (pyproject.toml)
    #   geopandas
python-dateutil==2.9.0.post0
    # via pandas
pytz==2025.2
    # via pandas
requests==2.32.4
    # via
    #   brdr (pyproject.toml)
    #   osmnx
shapely==2.1.2
    # via
    #   brdr (pyproject.toml)
    #   geopandas
    #   osmnx
    #   topojson
six==1.17.0
    # via python-dateutil
topojson==1.10
    # via brdr (pyproject.toml)
tzdata==2025.3
    # via pandas
urllib3==2.2.1
    # via requests
